<div class="h-100 bg-warning" id="main">
  <div class="cadastro container p-3">
    <div class="logo d-flex flex-column mt-3">
      <h2 class="text-center titulo">
        <span class="text-dark">Ani</span><span class="text-white">map</span>
      </h2>
    </div>
    <div class="text-center text-white">
      <p>Junte-se a nós! Aproveite seu tempo fazendo aquilo que você gosta.</p>
    </div>
    <div class="info-usuario">
      <form
        class="d-flex flex-column"
        [formGroup]="cadastroForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="capsula-form">
          <div class="form-group marb">
            <input
              #nome
              class="form-control w-75 mx-auto text-center"
              formControlName="name"
              type="text"
              placeholder="Nome"
              style="margin-bottom: -10px"
            />
            <div
              *ngIf="
                cadastroForm.get('name').invalid &&
                cadastroForm.get('name').dirty &&
                cadastroForm.get('name').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('name').hasError('required')">
                O nome é obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('name').hasError('minlength')">
                O nome deve ter pelo menos 6 letras.
              </div>
            </div>
          </div>
          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              formControlName="email"
              type="email"
              placeholder="Preencha seu e-mail"
              style="margin-bottom: -10px"
            />
            <div
              *ngIf="
                cadastroForm.get('email').invalid &&
                cadastroForm.get('email').dirty &&
                cadastroForm.get('email').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('email').hasError('required')">
                O email é obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('email').hasError('email')">
                Formato de e-mail não adequado.
              </div>
            </div>
          </div>
          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              formControlName="password"
              type="password"
              placeholder="Crie uma senha"
            />
            <div
              *ngIf="
                cadastroForm.get('password').invalid &&
                cadastroForm.get('password').dirty &&
                cadastroForm.get('password').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('password').hasError('required')">
                A senha é obrigatória.
              </div>
              <div *ngIf="cadastroForm.get('password').hasError('minlength')">
                A senha deve ter pelo menos 6 letras.
              </div>
            </div>
          </div>
          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              formControlName="passwordConfirmation"
              type="password"
              placeholder="Confirme sua senha"
            />
            <div
              *ngIf="
                cadastroForm.get('passwordConfirmation').invalid &&
                cadastroForm.get('passwordConfirmation').dirty &&
                cadastroForm.get('passwordConfirmation').touched
              "
              class="alert alert-danger text-center"
            >
              <div
                *ngIf="
                  cadastroForm.get('passwordConfirmation').hasError('required')
                "
              >
                Campo obrigatório
              </div>
              <div
                *ngIf="
                  cadastroForm.get('passwordConfirmation').hasError('minlength')
                "
              >
                A senha deve ter pelo menos 6 letras.
              </div>
            </div>
            <div
              *ngIf="
                cadastroForm.get('passwordConfirmation').dirty &&
                cadastroForm.get('passwordConfirmation').touched &&
                !passwordsMatch()
              "
              class="alert alert-danger text-center"
            >
              <div>Senhas devem ser iguais.</div>
            </div>
          </div>
          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              type="text"
              placeholder="Informe seu CPF"
              style="margin-bottom: -10px"
              formControlName="cpf"
            />
            <div
              *ngIf="
                cadastroForm.get('cpf').invalid &&
                cadastroForm.get('cpf').dirty &&
                cadastroForm.get('cpf').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('cpf').hasError('required')">
                Campo obrigatório
              </div>
              <div *ngIf="cadastroForm.get('cpf').hasError('pattern')">
                CPF Invalido
              </div>
            </div>
          </div>

          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              type="text"
              placeholder="Informe seu banco"
              style="margin-bottom: -10px"
              formControlName="bank"
            />
            <div
              *ngIf="
                cadastroForm.get('bank').invalid &&
                cadastroForm.get('bank').dirty &&
                cadastroForm.get('bank').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('bank').hasError('required')">
                Campo obrigatório
              </div>
            </div>
          </div>

          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              type="text"
              placeholder="Informe sua agência"
              style="margin-bottom: -10px"
              formControlName="agency"
            />
            <div
              *ngIf="
                cadastroForm.get('agency').invalid &&
                cadastroForm.get('agency').dirty &&
                cadastroForm.get('agency').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('agency').hasError('required')">
                Campo obrigatório
              </div>
            </div>
          </div>

          <div class="form-group marb">
            <input
              class="form-control w-75 mx-auto text-center"
              type="text"
              placeholder="Informe sua conta"
              style="margin-bottom: -10px"
              formControlName="account"
            />
            <div
              *ngIf="
                cadastroForm.get('account').invalid &&
                cadastroForm.get('account').dirty &&
                cadastroForm.get('account').touched
              "
              class="alert alert-danger text-center"
            >
              <div *ngIf="cadastroForm.get('account').hasError('required')">
                Campo obrigatório
              </div>
            </div>
          </div>
        </div>
        <div class="form-check text-center mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="termos"
            formControlName="terms"
          />
          <label class="form-check-label text-primary" for="termos">
            Li e concordo com o termos de uso
          </label>
          <p class="text-center text-primary text-underline m-0 mt-1">
            <u>Termos de Uso</u>
          </p>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
        </div>
        <button
          [disabled]="cadastroForm.invalid"
          type="submit"
          class="btn btn-dark text-light align-self-center mt-2"
          id="btnCadastrar"
        >
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
