<div style="height: 100vh" id="main">
  <div class="head bg-warning text-white d-flex flex-column">
    <div class="px-3 py-2 d-flex justify-content-between">
      <p class="lead my-auto">Agendamentos</p>
      <button class="btn-toggle" (click)="toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <div id="dropdown-div" *ngIf="dropdownToggle">
      <ul class="p-3 text-bold">
        <li [routerLink]="['/home']">Home</li>
        <li disabled class="my-2">Gerenciar Dados</li>
        <li disabled>Passeios Realizados</li>
      </ul>
    </div>
  </div>

  <div class="pets">
    <div id="list-example d-flex flex-column" class="list-group">
      <a
        *ngFor="let pet of pets"
        class="list-group-item list-group-item-action align-self-center my-1 p-1"
        (click)="confirm(pet?.nmPet)"
      >
        <div class="d-flex text-secondary">
          <div
            class="col-3 imagem-animal d-flex justify-content-center m-0 p-0"
          >
            <div
              class="imagem d-flex flex-column justify-content-center align-self-center"
            >
              <span class="text-white">{{ pet?.nmPet[0].toUpperCase() }}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <span
              ><span class="text-primary">{{ pet?.nmPet }}</span
              >,
              <span style="font-size: 14px">{{
                getIdade(pet?.idadePet)
              }}</span></span
            >
            <span class="text-secondary" style="font-size: 14px">{{
              pet?.racaPet
            }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<p-confirmDialog
  header="Solicitar Passeio"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
