@font-face {
    font-family: "Gotham";
    src: url("Gotham-Medium.woff")
}

body {
    font-family: Gotham;
}

html, body {
    margin: 0;
    padding: 0;
}

.fullHeight {
    height: 100vh;
}

.titulo {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 64px;
}

.titulo {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 64px;
}
