#btnEntrar {
  width: 40%;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: white;
  transition: all 0.75s;
}

@font-face {
  font-family: "Gotham";
  src: url("../../../../../assets/fonts/Gotham-Medium.woff");
}

#main {
  font-family: Gotham;
}

#btnEntrar:hover {
  background-color: #ffffff;
  border-color: #292b2c;
  color: #292b2c;
}

.normalFont {
  font-size: 14px;
}

.frase {
  width: 90%;
}

.logo img {
  width: 175px;
  height: 175px;
  border-radius: 100px;
}

.dados input {
  border-radius: 25px;
}

.logo {
  margin-bottom: -24px;
}

.titulo {
  font-family: "Nanum Pen Script", cursive;
  font-size: 64px;
}
