<div class="h-100 d-flex flex-column justify-content-around bg-warning" id="main">
    <div class="logo d-flex flex-column mt-2 mb-2">
        <h2 class="text-center titulo"><span class="text-dark">Ani</span><span class="text-white">map</span> </h2>
        <img class="align-self-center mb-2" src="../../assets/imagens/animap_logo.jpg">
    </div>
    <div class="dados">
        <form class="d-flex flex-column" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group ">
                <input (focus)="clickedToFalse()" class="form-control w-75 mx-auto" type="email" placeholder="E-mail" style="margin-bottom: -10px;"
                    formControlName="email">
            </div>
            <div class="form-group">
                <input (focus)="clickedToFalse()" class="form-control w-75 mx-auto" type="password" placeholder="Senha" formControlName="senha">
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark align-self-center"
                id="btnEntrar">ENTRAR</button>
        </form>
    </div>

    <div *ngIf="!existeUsuario && clicked" class="alert alert-danger text-center mt-3">
        <div>
            Informações inseridas não correspondem à nenhuma conta.
        </div>
    </div>
    <div *ngIf="existeUsuario" class="alert alert-success text-center mt-3">
        <div>
            Autenticando, aguarde um momento.
        </div>
    </div>

    <div class="esqueciSenha mt-1 text-center">
        <a class="text-primary" routerLink="/cadastro" routerLinkActive="active"><u>Criar nova conta</u></a>
    </div>
    


    <div class="mx-auto frase mt-2">
        <blockquote class="blockquote text-center">
            <p class="mt-auto normalFont text-dark">Aqueles que mais ensinam sobre a humanidade nem sempre são humanos.
            </p>
            <footer class="blockquote-footer normalFont text-white">Donald L. Hicks</footer>
        </blockquote>
    </div>
</div>