<div style="height: 100vh" id="main">
  <div class="head bg-warning text-white d-flex flex-column">
    <div class="px-3 py-2 d-flex justify-content-between">
      <p class="lead my-auto">Meus Pets</p>
      <button class="btn-toggle" (click)="toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <div id="dropdown-div" *ngIf="dropdownToggle">
      <ul class="p-3 text-bold">
        <li [routerLink]="['/home']">Home</li>
        <li class="my-2" [routerLink]="['/passeios']">Passeios</li>
        <li [routerLink]="['/solicitacoes']">Solicitações</li>
      </ul>
    </div>
  </div>

  <div class="cadastrar d-flex justify-content-center mt-2">
    <button class="btn-dark text-warning d-flex justify-content-between bg-dark" [routerLink]="['/cadastro-pet']">
      <span>
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </span>
      <span>Cadastrar Novo Pet</span>
    </button>
  </div>

  <div class="meus-pets">
    <div *ngFor="let pet of pets">
      <div class="card my-2 mx-auto text-secondary" style="width: 18rem;">
        <div class="imagem d-flex flex-column justify-content-center my-2 mx-auto">
          <span class="text-white">{{pet?.nmPet[0].toUpperCase()}}</span>
        </div>
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title text-dark">{{pet?.nmPet}}</h5>
          <span>{{pet?.racaPet}}</span>
          <span>{{getIdade(pet?.idadePet)}}</span>
          <a (click)="showDialog(pet)" class="btn btn-primary text-white mt-2">Editar Dados</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Editar {{getNomePet()}}" [(visible)]="display">
  <div class="container pb-3">
    <div class="titulo">
      <p>
        <span class="lead font-weight-bold text-secondary">
          Dados do Animal
        </span>
      </p>
    </div>
    <form [formGroup]="cadastroForm" (ngSubmit)="onEdit()">
      <div class="row mt-1">
        <div class="col-4">
          <div class="image border-warning d-flex flex-column justify-content-center align-items-center">
            <fa-icon id="image-icon" class="text-secondary" [icon]="faImage"></fa-icon>
          </div>
        </div>
        <div class="col-8 d-flex flex-column justify-content-center">
          <div class="form-group">
            <label for="nomeAnimal"><b>Nome do Animal </b><span class="align-top text-warning">*</span></label>
            <input type="text" class="form-control" id="nomeAnimal" placeholder="Xuxu" formControlName="nome" />
            <div *ngIf="
                cadastroForm.get('nome').invalid &&
                (cadastroForm.get('nome').dirty ||
                  cadastroForm.get('nome').touched)
              " class="alert alert-danger text-center">
              <div *ngIf="cadastroForm.get('nome').hasError('required')">
                O nome é obrigatório.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-1">
        <label for="tipoAnimal"><b>Tipo do Animal </b><span class="align-top text-warning">*</span></label>
        <select class="form-control" id="tipoAnimal" formControlName="tipo">
          <option [ngValue]="null" hidden>Selecione...</option>
          <option *ngFor="let animal of animais" [ngValue]="animal">
            {{ animal }}
          </option>
        </select>
        <div *ngIf="
            cadastroForm.get('tipo').invalid &&
            cadastroForm.get('tipo').dirty &&
            cadastroForm.get('tipo').touched
          " class="alert alert-danger text-center">
          <div *ngIf="cadastroForm.get('tipo').hasError('required')">
            Tipo Obrigatório
          </div>
        </div>
      </div>
      <div class="form-group mt-1">
        <label for="racaAnimal"><b>Raça do Animal</b></label>
        <input type="text" class="form-control" id="racaAnimal" formControlName="raca" placeholder="ex: Beagle" />
      </div>
      <div class="form-group mt-1">
        <label for="animalAge"><b>Idade do Animal</b></label>
        <input type="number" min="0" max="100" step="1" class="form-control" id="animalAge" formControlName="age"
          placeholder="3" />
      </div>
      <div class="form-group">
        <label for="observacoes"><b>Observações</b></label>
        <textarea class="form-control" id="observacoes" rows="3" formControlName="observacoes"
          placeholder="Doenças, alergias, medos e etc..."></textarea>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>
      <div class="botao d-flex justify-content-center">
        <button [disabled]="cadastroForm.invalid" type="submit" class="btn btn-dark text-light font-weight-bold"
          id="btnCadastrar">
          Editar
        </button>
      </div>
    </form>
  </div>
</p-dialog>
